In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import glob

In [16]:
#important note: column names should be exact match. It make it easy to merge two datasets

p1 = 'D:\MyData\GreyAtom\Python\Jupyter\pract_data\data\data\movielens\movies.dat'
c1 = ['movie_id', 'movie', 'genre']
movies = pd.read_table(p1, delimiter='::', header=None, names=c1)
#movies.head(10)
p2 = 'D:\MyData\GreyAtom\Python\Jupyter\pract_data\data\data\movielens\users.dat'
c2 = ['user_id', 'gender', 'age_group', 'occupation', 'zip']
users = pd.read_table(p2, delimiter='::', header=None, names=c2)
#users.head(10)

p3 = 'D:\\MyData\\GreyAtom\\Python\\Jupyter\\pract_data\\data\\data\\movielens\\ratings.dat'
c3 = ['user_id', 'movie_id', 'rating', 'timestamps']
ratings = pd.read_table(p3, delimiter='::', header=None, names=c3)
#ratings.head(10)

C:\Users\ritesh.kankonkar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
C:\Users\ritesh.kankonkar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
C:\Users\ritesh.kankonkar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [23]:
#we merge ratings and users first since it has user_id in common aand then movies since the data would have movie_id in common
data = pd.merge(pd.merge(ratings, users), movies)
data.head(10)

,user_id,movie_id,rating,timestamps,gender,age_group,occupation,zip,movie,genre
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama

In [39]:
genderized_mean = data.pivot_table('rating', aggfunc=np.mean, index='movie', columns='gender').fillna(0)
#dropna or fillna(0) may change the results

In [40]:
genderized_mean.head(10)

gender                                    F         M
movie
$1,000,000 Duck (1971)             3.375000  2.761905
'Night Mother (1986)               3.388889  3.352941
'Til There Was You (1997)          2.675676  2.733333
'burbs, The (1989)                 2.793478  2.962085
...And Justice for All (1979)      3.828571  3.689024
1-900 (1994)                       2.000000  3.000000
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [41]:
female_domination = genderized_mean.sort_values(by='F', ascending=False)
female_domination

gender                                                     F         M
movie
Battling Butler (1926)                              5.000000  3.222222
Lamerica (1994)                                     5.000000  4.666667
Skipped Parts (2000)                                5.000000  4.000000
One Little Indian (1973)                            5.000000  0.000000
Dancemaker (1998)                                   5.000000  3.250000
Raw Deal (1948)                                     5.000000  3.307692
Message to Love: The Isle of Wight Festival (1996)  5.000000  3.833333
Woman of Paris, A (1923)                            5.000000  2.428571
Belly (1998)                                        5.000000  3.000000
For the Moment (1994)                               5.000000  3.000000
Other Side of Sunday, The (S�ndagsengler) (1996)    5.000000  2.928571
Bittersweet Motel (2000)                            5.000000  0.000000
Clean Slate (Coup de Torchon) (1981)                5.000000  3.857143
Country Life (1994)                                 5.000000  2.000000
Big Combo, The (1955)                               5.000000  3.600000
Gate of Heavenly Peace, The (1995)                  5.000000  5.000000
Twice Upon a Yesterday (1998)                       5.000000  3.222222
Gambler, The (A J�t�kos) (1997)                     5.000000  3.166667
Coldblooded (1995)                                  5.000000  3.588235
Ayn Rand: A Sense of Life (1997)                    5.000000  4.000000
Prisoner of the Mountains (Kavkazsky Plennik) (...  5.000000  3.692308
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000  3.428571
Brother, Can You Spare a Dime? (1975)               5.000000  3.642857
24 7: Twenty Four Seven (1997)                      5.000000  3.750000
Saltmen of Tibet, The (1997)                        5.000000  3.571429
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 5.000000  4.750000
Song of Freedom (1936)                              5.000000  0.000000
World of Apu, The (Apur Sansar) (1959)              4.842105  4.189189
Hearts and Minds (1996)                             4.833333  4.000000
Apple, The (Sib) (1998)                             4.750000  4.600000
...                                                      ...       ...
Mamma Roma (1962)                                   0.000000  4.500000
Lay of the Land, The (1997)                         0.000000  2.000000
War at Home, The (1996)                             0.000000  2.500000
I Got the Hook Up (1998)                            0.000000  2.750000
Snowriders (1996)                                   0.000000  2.500000
Modulations (1998)                                  0.000000  4.000000
Late Bloomers (1996)                                0.000000  2.750000
Hatchet For the Honeymoon (Rosso Segno Della Fo...  0.000000  1.666667
Criminal Lovers (Les Amants Criminels) (1999)       0.000000  2.333333
Bye-Bye (1995)                                      0.000000  4.000000
Butterfly Kiss (1995)                               0.000000  3.250000
Montana (1998)                                      0.000000  3.000000
Voyage to the Beginning of the World (1997)         0.000000  4.000000
Tough and Deadly (1995)                             0.000000  2.000000
Man of the Century (1999)                           0.000000  4.000000
Waiting Game, The (2000)                            0.000000  2.000000
Moonlight Murder (1936)                             0.000000  2.000000
Something to Sing About (1937)                      0.000000  1.500000
Mouth to Mouth (Boca a boca) (1995)                 0.000000  4.000000
Rhyme & Reason (1997)                               0.000000  4.000000
Somewhere in the City (1997)                        0.000000  2.000000
Dadetown (1995)                                     0.000000  3.857143
Daens (1992)                                        0.000000  4.000000
An Unforgettable Summer (1994)                      0.000000  3.000000
Walking Dead, The (1995)                            0.000000  2.684211
Man from Down Under, The (1943)                     0.000000  2.750000
Resurrection Man (1998)                             0.000000  3.000000
Waltzes from Vienna (1933)                          0.000000  1.000000
Hell in the Pacific (1968)                          0.000000  3.696970
Hour of the Pig, The (1993)                         0.000000  4.500000

[3706 rows x 2 columns]

In [42]:
data.head(10)

,user_id,movie_id,rating,timestamps,gender,age_group,occupation,zip,movie,genre
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama

In [51]:
#To  get list of movies who have rating more than 2.5
good_movies = data[data['rating'] >= 2.5]
good_movies

,user_id,movie_id,rating,timestamps,gender,age_group,occupation,zip,movie,genre
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
30,107,1193,5,977533908,M,45,18,63129,One Flew Over the Cuckoo's Nest (1975),Drama
32,120,1193,5,977458103,M,25,11,27106,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000173,5146,2480,4,962722549,M,56,1,04240,Dry Cleaning (Nettoyage � sec) (1997),Drama
1000174,4766,1842,4,963087998,M,35,16,10014,Illtown (1996),Crime|Drama
1000175,5878,1842,4,1043783975,F,25,0,60640,Illtown (1996),Crime|Drama
1000176,4790,2309,5,963105678,F,25,2,94133,"Inheritors, The (Die Siebtelbauern) (1998)",Drama
1000177,4816,2309,4,965869069,F,45,6,04240,"Inheritors, The (Die Siebtelbauern) (1998)",Drama
1000178,4795,3084,4,962984650,M,45,16,10962,Home Page (1999),Documentary
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [55]:
#to get films who has more than 250 ratings
title_group = data.groupby('movie')
most_reviewed_data = title_group['rating'].count()
most_reviewed = most_reviewed_data[most_reviewed_data >= 250].index

In [57]:
most_reviewed

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)',
       u'101 Dalmatians (1961)', u'101 Dalmatians (1996)',
       u'12 Angry Men (1957)', u'13th Warrior, The (1999)',
       u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)',
       u'2001: A Space Odyssey (1968)', u'2010 (1984)',
       ...
       u'X-Men (2000)', u'Year of Living Dangerously (1982)',
       u'Yellow Submarine (1968)', u'You've Got Mail (1998)',
       u'Young Frankenstein (1974)', u'Young Guns (1988)',
       u'Young Guns II (1990)', u'Young Sherlock Holmes (1985)',
       u'Zero Effect (1998)', u'eXistenZ (1999)'],
      dtype='object', name=u'movie', length=1216)

In [67]:
popular_means = genderized_mean.loc[most_reviewed]
print popular_means.head(10)
female_popular = popular_means.sort_values(by='F', ascending=False)
print female_popular.head(10)

gender                                      F         M
movie
'burbs, The (1989)                   2.793478  2.962085
10 Things I Hate About You (1999)    3.646552  3.311966
101 Dalmatians (1961)                3.791444  3.500000
101 Dalmatians (1996)                3.240000  2.911215
12 Angry Men (1957)                  4.184397  4.328421
13th Warrior, The (1999)             3.112000  3.168000
2 Days in the Valley (1996)          3.488889  3.244813
20,000 Leagues Under the Sea (1954)  3.670103  3.709205
2001: A Space Odyssey (1968)         3.825581  4.129738
2010 (1984)                          3.446809  3.413712
gender                                                     F         M
movie
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [79]:
popular_means['diff'] = popular_means['M'] - popular_means['F']
disagreement = popular_means.sort_values(by='diff', ascending=False).head(10)
disagreement.head()

gender                                         F         M      diff
movie
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787